
/*Selector tag html*/
body { 
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    background-color: rgb(0, 0, 0);
}


h1 {
    color: rgb(166, 3, 3) ;
    font-size: 12px;
}

p{ 
    color: green;
    text-transform: capitalize;
    border-color: rgb(0, 136, 255);
}

/*Class selector */
.red{
    background-color: red;
    font-size: 20px;
}
.tulisan-miring {
    text-decoration: underline;
}
/*ID selector*/
#huruf-besar {
    text-transform: uppercase;
    border: 2px solid;
}